.cursor-pointer {
    cursor: pointer;
}
.Page-columns {
    display: flex;
    flex-direction: column;
}
.Page-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 2em 2em 2em
}
.page-item.active .page-link {
    background-color: black;
    border-color: black;
}
.page-link:hover {
    color: black;
}
nav {
    margin: 2em 2em 2em 2em
}
.my-table {
    display: none;
    margin-top: 1em;
}
tr, td, th, thead, tbody {
    border: 1px double black;
}